absl-py==2.1.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.8
cloudpickle==3.1.0
contourpy==1.3.1
cycler==0.12.1
decorator==5.1.1
docker-pycreds==0.4.0
docstring_parser==0.16
dotmap==1.3.30
et_xmlfile==2.0.0
Farama-Notifications==0.0.4
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.12.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.68.1
gymnasium==1.0.0
idna==3.10
ipython-genutils==0.2.0
Jinja2==3.1.5
kiwisolver==1.4.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
omegaconf==2.3.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
-e git+ssh://git@github.com/wsolow/pcse.git@00fe3e05fe3446dc6d3c668ab68d5c6c116f2a97#egg=pcse
-e git+ssh://git@github.com/wsolow/pcse_gym.git@f64fc451ea35f5e1b6b2ac16e12d617663bc7c14#egg=pcse_gym
pillow==11.0.0
platformdirs==4.3.6
protobuf==5.29.2
psutil==6.1.1
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
sentry-sdk==2.19.2
setproctitle==1.3.4
shtab==1.7.1
six==1.17.0
smmap==5.0.1
SQLAlchemy==1.4.54
stable_baselines3==2.4.0
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
torch==2.5.1
traitlets_pcse==5.0.0.dev0
typeguard==4.4.1
typing_extensions==4.12.2
tyro==0.9.4
tzdata==2024.2
urllib3==2.3.0
wandb==0.19.1
Werkzeug==3.1.3
